<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Raleway:wght@200&display=swap" rel="stylesheet">
    <title>{% block title %}Заметки{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Страница для заметок</h1>
    </header>
    <form method="get" action="{% url 'search_notes' %}">
        <label for="site-search">Поле для поиска заметок:</label>
        <input type="text" name="note_search" id="note_search" value="{{ search_input }}">
        <input type="submit" value="Search" class="button">
    </form>
    <div class="content">
        {% block content %}
        {% for note in notes %}
            <p>{{ note.notes }}</p> 
        {% endfor %}
        {% endblock %}
    </div>
    <form method="post" action="{% url 'create_note' %}">
        {% csrf_token %}
        <input type="text" id="note-create" name="note"/>
        <button type="submit">Создать</button>
    </form>
</body>
</html>